html {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

body {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

p, h1, h3, label, span, ul, a {
  font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: underline;
}

.container {
  width: 70%;
  height: 70%;
  background-color: rgba(88,24,69,0.5);
  position: absolute;
  top: 15%;
  left: 15%;
  border-radius: 10px;
  z-index: 1;
}

#nav-bar {
  width: 85%;
  margin-left: 7.5%;
  display: inline-block;
  margin-top: 40px;
  /* height: 7.5%; */
}

.nav-item {
  width: 14.28%;
  display: inline-block;
  float: left;
  text-align: center;
  border-left: 2px solid #FF5733;
  border-top: 2px solid #FF5733;
  border-bottom: 2px solid #FF5733;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-item:hover {
  background-color: #FF5733;
}

.nav-left-border {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-right-border {
  border-right: 2px solid #FF5733;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-nav-item {
  background-color: #FF5733;
}

.nav-text {
  vertical-align: middle;
  margin-bottom: 0px;
}

.info-container {
  /* height: 90vh; */
  text-align: center;
  display: block;
  width: 85%;
  margin: auto;
}

.info-elements {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

#home-info {
  width: 30%;
  display: block;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
}

#profile-pic {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#name {
  display: block;
}

.social-media {
  margin-top: 15px;
  margin-left: 5px;
  width: 6%;
}

.social-media:hover {
  opacity: 0.7;
}

#contact-info {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}

#contact-info label {
  float: left;
}

#social-media-container {
  display: inline-block;
}

#contact-container {
  text-align: left;
}

#contact-form {
  margin-top: 20px;
  padding: 0px;
  width: 100%;
}

.contact-label {
  margin-bottom: 0px;
}

#contact-form input {
  width: 100%;
}

#contact-form p {
  text-align: left;
}

.required {
  color: red;
}

#contact-button {
  float: right;
  background-color: #FF5733;
  border-radius: 5px;
  border: 0px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  width: 20%;
}

.errors {
  margin-top: 0px;
  margin-bottom: 15px;
  color: red;
  visibility: hidden;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    animation: spin 2s linear infinite;
}

#work-info {
  flex-direction: column;
  margin-bottom: 40px;
}

.info-section {
  width: 85%;
  background-color: rgba(255,87,51, 0.65);
  border-radius: 1rem;
  margin: auto;
  padding: 2rem;
  height: auto;
}

.company-logo {
  max-width: 150px;
  max-height: 150px;
  margin-right: 20px;
  flex: 1;
}

.work-project-info-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.project-info-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.publications-info-container {
  margin-top: 40px;
}

.company-name {
  font-weight: bold;
}

.work-description {
  font-size: 13px;
}

.project-name {
  display: inline-block;
}

.project-gif {
  width: 100%;
}

.project-gif-container {
  width: 100%;
  margin-right: 20px;
}

.project-text-container {
  width: 100%;
}

.sleepmask-image {
  width: 100%;
}

.sleepmask-image-container {
  margin-right: 20px;
}

.two-gif-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;
}

.two-gif-div {
  width: 100%;
  margin-bottom: 20px;
}

.two-gif-image {
  width: 100%;
}

.project-description-container {
  flex: 1;
  width: 50%;
}

.resume-container {
  margin-top: 40px;
  height: 80vh;
}

#menu-icon {
  width: 10%;
}

.nav-button {
  background-color: #FF5733;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 20px;
}

.nav-button-container {
  width: 100%;
}

.responsive-nav-item {
  border: 2px solid #FF5733;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem;
}

#responsive-nav-bar {
  display: none;
}

.closedMenu {
  border-radius: 1rem;
}

.openMenu {
  border-radius: 1rem 1rem 0 0;
}

.bottom-nav-item {
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 30px;
}

.about-li {
  text-align: left;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sent {
  float: right;
  display: none;
}

@media only screen and (max-width: 425px) { /* Will target mobile devices in landscape mode and up */
  #home-info {
    width: 65%;
  }
  #menu-icon {
    width: 10%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 480px) { /* Will target mobile devices in landscape mode and up */
  #home-info {
    width: 50%;
  }
  #menu-icon {
    width: 10%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) { /* Targets tablets in portrait mode and up */
  #home-info {
    width: 40%;
  }
  .work-project-info-container {
    flex-direction: column;
  }
  .company-logo {
    margin-bottom: 40px;
  }
  #menu-icon {
    width: 5%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) { /* Targets tablets in landscape mode and up */
  #about-info {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1024px) { /* Targets the desktop view */
  #home-info {
    width: 22%;
  }
}

@media only screen and (max-width: 600px) { /* Targets the desktop view */
  .work-project-info-container {
    flex-direction: column;
  }
  .company-logo {
    margin-bottom: 40px;
  }
  #about-info {
    margin-top: 40px;
  }
  .social-media {
    width: 15%;
  }
  #nav-bar {
    display: none;
  }
  #responsive-nav-bar {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .project-info-container {
    flex-direction: column;
  }
  .project-description-container {
    width: 100%;
  }
  .project-gif {
    margin-bottom: 20px;
    margin-right: 0px;
    width: 100%;
  }
  .two-gif-container {
    margin-right: 0px;
    width: 100%;
  }
  .sleepmask-image-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}